# Unity package - ignore Unity-specific import settings
# Note: .meta files ARE included for Git URL packages (required by UPM)
*.unity export-ignore
*.unitypackage export-ignore
*.unitypackage export-ignore
ProjectSettings export-ignore
Library export-ignore
Temp export-ignore
obj export-ignore
Build export-ignore
